global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:

rule_files:

scrape_configs:

  - job_name: "web1"
    scrape_interval: 8s
    static_configs:
      - targets: ['10.128.0.11:9100', '10.128.0.11:4040']

  - job_name: "web2"
    scrape_interval: 8s
    static_configs:
      - targets: ['10.129.0.11:9100', '10.129.0.11:4040']

  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ['10.128.0.21:9090', '10.128.0.21:9100']
